{% load static %}
<header>
  <img src="{% static 'img/logo.png' %}" />
</header>
<nav>
  <ul>
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'about' %}">About</a></li>
    <li><a href="{% url 'menu' %}">Menu</a></li>
    <!-- Add code here for the book template -->
		<li><a href="{% url 'book' %}">Book</a></li>
    <!-- Add code here for the reservations template -->
		<li><a href="{% url 'bookings' %}">Bookings</a></li>
  </ul>
</nav>
